.label {
    -fx-font: 13px "Helvetica";
}

.text-field {
    -fx-font: 13px "Helvetica";
}

.text-area {
    -fx-font: 13px "Helvetica";
}

.date-picker {
    -fx-font: 13px "Helvetica";
}

.choice-box {
    -fx-font: 13px "Helvetica";
}

.choice-box .text-field {
    -fx-font: 13px "Helvetica";
}

.choice-box .list-cell {
    -fx-font: 13px "Helvetica";
}

.button {
    -fx-font: 13px "Helvetica";
}

.pane {
    -fx-padding: 2px;
}

.list-view {
    -fx-font: 13px "Helvetica";
    -fx-background-color: whitesmoke;
    -fx-padding: 0px;
    -fx-background-insets: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-y: 0;
    -fx-background-color: whitesmoke;
    -fx-padding: -10px;
}

.scroll-bar > .corner {
    -fx-background-color: whitesmoke;
}

.list-view  .list-cell {
    -fx-background-color: whitesmoke;
}

.list-view .list-cell:hover {
    -fx-background-color: #c8c8c8;
    -fx-cursor: hand;
}

.list-view .list-cell:selected {
    -fx-text-fill: black;
}